In [8]:
import numpy as np
import pandas as pd
#数据分类
import numpy as np; import pandas as pd
values = pd.Series(['apple', 'orange', 'apple',
                    'apple'] * 2)
print(values)
print(values.unique())
print(pd.value_counts(values))

print('\n--------------------')

values = pd.Series([0, 1, 0, 0] * 2)
dim = pd.Series(['apple', 'orange'])
print(values)
print(dim)
print('\n---------分类----------')
print(dim.take(values))

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
dtype: object
['apple' 'orange']
apple     6
orange    2
dtype: int64

--------------------
0    0
1    1
2    0
3    0
4    0
5    1
6    0
7    0
dtype: int64
0     apple
1    orange
dtype: object

---------分类----------
0     apple
1    orange
0     apple
0     apple
0     apple
1    orange
0     apple
0     apple
dtype: object

In [9]:
fruits = ['apple', 'orange', 'apple', 'apple'] * 2
N = len(fruits)
df = pd.DataFrame({'fruit': fruits,
                   'basket_id': np.arange(N),
                   'count': np.random.randint(3, 15, size=N),
                   'weight': np.random.uniform(0, 4, size=N)},
                  columns=['basket_id', 'fruit', 'count', 'weight'])
df

   basket_id   fruit  count    weight
0          0   apple      6  3.486646
1          1  orange      9  2.232880
2          2   apple     14  3.629638
3          3   apple      5  0.324266
4          4   apple     13  3.674880
5          5  orange     10  2.738609
6          6   apple     11  1.663595
7          7   apple      8  1.913471

In [18]:
#将python数据转换为分类（categorical）
fruit_cat = df['fruit'].astype('category')
print(fruit_cat)#注意他的数据类型
c = fruit_cat.values#注意这里没有括号
print(c)
print(type(c))
print('\n------------------------')
print(c.categories)
print(c.codes)

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
Name: fruit, dtype: category
Categories (2, object): [apple, orange]
[apple, orange, apple, apple, apple, orange, apple, apple]
Categories (2, object): [apple, orange]
<class 'pandas.core.arrays.categorical.Categorical'>

------------------------
Index(['apple', 'orange'], dtype='object')
[0 1 0 0 0 1 0 0]

In [20]:
my_categories = pd.Categorical(['foo', 'bar', 'baz', 'foo', 'bar'])
print(my_categories)
#from_codes
#从其他源获得分类和分类编码
categories = ['foo', 'bar', 'baz']
codes = [0, 1, 2, 0, 0, 1]
my_cat = pd.Categorical.from_codes(codes,categories)
print(my_cat)

[foo, bar, baz, foo, bar]
Categories (3, object): [bar, baz, foo]
[foo, bar, baz, foo, foo, bar]
Categories (3, object): [foo, bar, baz]

In [24]:
#加入排序 ordered=True
ordered_cat = pd.Categorical.from_codes(codes, categories,
                                        ordered=True)
print(ordered_cat)
my_cat.as_ordered()

[foo, bar, baz, foo, foo, bar]
Categories (3, object): [foo < bar < baz]

[foo, bar, baz, foo, foo, bar]
Categories (3, object): [foo < bar < baz]

In [29]:
np.random.seed(12345)
draws = np.random.randn(1000)
draws[:5]
bins = pd.qcut(draws, 4)
print(bins)
bins = pd.qcut(draws, 4,labels = ['Q1','Q2','Q3','Q4'])
print(bins)

[(-0.684, -0.0101], (-0.0101, 0.63], (-0.684, -0.0101], (-0.684, -0.0101], (0.63, 3.928], ..., (-0.0101, 0.63], (-0.684, -0.0101], (-2.9499999999999997, -0.684], (-0.0101, 0.63], (0.63, 3.928]]
Length: 1000
Categories (4, interval[float64]): [(-2.9499999999999997, -0.684] < (-0.684, -0.0101] < (-0.0101, 0.63] < (0.63, 3.928]]
[Q2, Q3, Q2, Q2, Q4, ..., Q3, Q2, Q1, Q3, Q4]
Length: 1000
Categories (4, object): [Q1 < Q2 < Q3 < Q4]

In [36]:
#使用groupby
bins = pd.Series(bins,name = 'quartile')
res = pd.Series(draws).groupby(bins).agg(['count','min','max']).reset_index()
# print(bins)
res['quartile']

0    Q1
1    Q2
2    Q3
3    Q4
Name: quartile, dtype: category
Categories (4, object): [Q1 < Q2 < Q3 < Q4]

In [33]:
# draws.groupby(bins).agg(['count','min','max']).reset_index()
# AttributeError: 'numpy.ndarray' object has no attribute 'groupby'
#一个报错：numpy数组没有groupby()!!!

In [44]:
#用分类提高性能（n = 10000000）
n = 10000000
pd.Series(np.random.randn(n))
labels = pd.Series(['foo', 'bar', 'baz', 'qux'] * (N // 4))
c = labels.astype('category')
print(labels.memory_usage())
print(c.memory_usage())
%time _ = labels.astype('category')

144
280
Wall time: 0 ns

In [48]:
#分类方法
s = pd.Series(['a', 'b', 'c', 'd'] * 2)
cat_s = s.astype('category')
print(cat_s)
# cat属性提供了分类⽅法的⼊⼝
print('-------------------------')
print(cat_s.cat.categories)
print(cat_s.cat.codes)

0    a
1    b
2    c
3    d
4    a
5    b
6    c
7    d
dtype: category
Categories (4, object): [a, b, c, d]
-------------------------
Index(['a', 'b', 'c', 'd'], dtype='object')
0    0
1    1
2    2
3    3
4    0
5    1
6    2
7    3
dtype: int8

In [52]:
#实际的分类比s长，可重新设categories
actual_categories = ['a', 'b', 'c', 'd', 'e']
cat_s2 = cat_s.cat.set_categories(actual_categories)
print(cat_s2)
print('\n---------新的分类将反映在它们的操作中-----------')
print(cat_s.value_counts())
print(cat_s2.value_counts())

0    a
1    b
2    c
3    d
4    a
5    b
6    c
7    d
dtype: category
Categories (5, object): [a, b, c, d, e]

---------新的分类将反映在它们的操作中-----------
d    2
c    2
b    2
a    2
dtype: int64
d    2
c    2
b    2
a    2
e    0
dtype: int64

In [60]:
'''在打数据集中，分类经常作为节省内存和⾼性能的便捷⼯具。过
滤完⼤DataFrame或Series之后，许多分类可能不会出现在数据
中。我们可以使⽤remove_unused_categories⽅法删除没看到
的分类'''
#其实没怎么看懂
cat_s3 = cat_s[cat_s.isin(['a','b'])]
print(cat_s3)
cat_s4 = cat_s3.cat.remove_unused_categories()
print(cat_s4)

0    a
1    b
4    a
5    b
dtype: category
Categories (4, object): [a, b, c, d]
0    a
1    b
4    a
5    b
dtype: category
Categories (2, object): [a, b]

In [62]:
# 为建模创建虚拟变量
cat_s = pd.Series(['a', 'b', 'c', 'd'] * 2, dtype='category')
print(cat_s)
print(pd.get_dummies(cat_s))

0    a
1    b
2    c
3    d
4    a
5    b
6    c
7    d
dtype: category
Categories (4, object): [a, b, c, d]
   a  b  c  d
0  1  0  0  0
1  0  1  0  0
2  0  0  1  0
3  0  0  0  1
4  1  0  0  0
5  0  1  0  0
6  0  0  1  0
7  0  0  0  1

In [75]:
#transform()
df = pd.DataFrame({'key': ['a', 'b', 'c'] * 4,
                   'value': np.arange(12.)})
print(df)
g = df.groupby('key').value
print(g.mean())
print('\n---------transform-------')
# 等价于
print(g.transform('mean'))
g.transform(lambda x: x.mean())

   key  value
0    a    0.0
1    b    1.0
2    c    2.0
3    a    3.0
4    b    4.0
5    c    5.0
6    a    6.0
7    b    7.0
8    c    8.0
9    a    9.0
10   b   10.0
11   c   11.0
key
a    4.5
b    5.5
c    6.5
Name: value, dtype: float64

---------transform-------
0     4.5
1     5.5
2     6.5
3     4.5
4     5.5
5     6.5
6     4.5
7     5.5
8     6.5
9     4.5
10    5.5
11    6.5
Name: value, dtype: float64

0     4.5
1     5.5
2     6.5
3     4.5
4     5.5
5     6.5
6     4.5
7     5.5
8     6.5
9     4.5
10    5.5
11    6.5
Name: value, dtype: float64

In [77]:
print(g.transform(lambda x:x*2))
print(g.transform(lambda x:x.rank(ascending = False)))

0      0.0
1      2.0
2      4.0
3      6.0
4      8.0
5     10.0
6     12.0
7     14.0
8     16.0
9     18.0
10    20.0
11    22.0
Name: value, dtype: float64
0     4.0
1     4.0
2     4.0
3     3.0
4     3.0
5     3.0
6     2.0
7     2.0
8     2.0
9     1.0
10    1.0
11    1.0
Name: value, dtype: float64

In [80]:
def normalize(x):
    return (x-x.mean())/x.std()
print('----------transform-----------')
print(g.transform(normalize))#其实就是Z
print('----------apply-----------')
print(g.apply(normalize))

----------transform-----------
0    -1.161895
1    -1.161895
2    -1.161895
3    -0.387298
4    -0.387298
5    -0.387298
6     0.387298
7     0.387298
8     0.387298
9     1.161895
10    1.161895
11    1.161895
Name: value, dtype: float64
----------apply-----------
0    -1.161895
1    -1.161895
2    -1.161895
3    -0.387298
4    -0.387298
5    -0.387298
6     0.387298
7     0.387298
8     0.387298
9     1.161895
10    1.161895
11    1.161895
Name: value, dtype: float64

In [81]:
normalize = (df['value']-g.transform('mean'))/g.transform('std')
print(normalize)

0    -1.161895
1    -1.161895
2    -1.161895
3    -0.387298
4    -0.387298
5    -0.387298
6     0.387298
7     0.387298
8     0.387298
9     1.161895
10    1.161895
11    1.161895
Name: value, dtype: float64

In [84]:
# 分组的时间重采样
N = 15
times = pd.date_range('2017-05-20 00:00', freq='1min', periods=N)
df = pd.DataFrame({'time': times,
                   'value': np.arange(N)})
print(df.head())
#重采样
df.set_index('time').resample('5min').count()

                 time  value
0 2017-05-20 00:00:00      0
1 2017-05-20 00:01:00      1
2 2017-05-20 00:02:00      2
3 2017-05-20 00:03:00      3
4 2017-05-20 00:04:00      4

                     value
time
2017-05-20 00:00:00      5
2017-05-20 00:05:00      5
2017-05-20 00:10:00      5

In [91]:
df2 = pd.DataFrame({'time': times.repeat(3),
                    'key': np.tile(['a', 'b', 'c'], N),
                    'value': np.arange(N * 3.)})
print(df2.head(7))
time_key = pd.TimeGrouper('5min')
print(time_key)
red = df2.set_index('time').groupby(['key',time_key]).sum()
print(red)
print(red.reset_index())

                 time key  value
0 2017-05-20 00:00:00   a    0.0
1 2017-05-20 00:00:00   b    1.0
2 2017-05-20 00:00:00   c    2.0
3 2017-05-20 00:01:00   a    3.0
4 2017-05-20 00:01:00   b    4.0
5 2017-05-20 00:01:00   c    5.0
6 2017-05-20 00:02:00   a    6.0
TimeGrouper(freq=<5 * Minutes>, axis=0, sort=True, closed='left', label='left', how='mean', convention='e', base=0)
                         value
key time
a   2017-05-20 00:00:00   30.0
    2017-05-20 00:05:00  105.0
    2017-05-20 00:10:00  180.0
b   2017-05-20 00:00:00   35.0
    2017-05-20 00:05:00  110.0
    2017-05-20 00:10:00  185.0
c   2017-05-20 00:00:00   40.0
    2017-05-20 00:05:00  115.0
    2017-05-20 00:10:00  190.0
  key                time  value
0   a 2017-05-20 00:00:00   30.0
1   a 2017-05-20 00:05:00  105.0
2   a 2017-05-20 00:10:00  180.0
3   b 2017-05-20 00:00:00   35.0
4   b 2017-05-20 00:05:00  110.0
5   b 2017-05-20 00:10:00  185.0
6   c 2017-05-20 00:00:00   40.0
7   c 2017-05-20 00:05:00  115.0
8   c 2017-05-20 00:10:00  190.0

D:\anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: pd.TimeGrouper is deprecated and will be removed; Please use pd.Grouper(freq=...)
  """

In [94]:
# 链式编程技术
'''df = load_data()
df2 = df[df['col2']<0]
df2['col1_demeaned'] = df2['col1'] - df2['col1'].mean()
re = df2.groupby('key').col1_demeaned.std()'''

"df = load_data()\ndf2 = df[df['col2']<0]\ndf2['col1_demeaned'] = df2['col1'] - df2['col1'].mean()\nre = df2.groupby('key').col1_demeaned.std()"

In [96]:
'''df2 = df.copy()
df2['k'] = v
df2 = df.assign(k=v)'''
#等价

"df2 = df.copy()\ndf2['k'] = v\ndf2 = df.assign(k=v)"

In [ ]:
df = load_data()
df2 = df[df['col2'] < 0]
#重写为
df = load_data()lambda x:x['col2']<0

In [ ]:
#单链表达式
result = (df2.assign(col1_demeaned=df2.col1 - df2.col2.mean())
          .groupby('key')
          .col1_demeaned.std())
res = (load_data()lambda x:x['col2']<0
      .assign(col1_demeaned=df2.col1 - df2.col2.mean()
      .groupby('key')
      .col1_demeaned.std())

In [ ]:
# f(df)和df.pipe(f)是等价的，但是pipe使得链式声明更容易
#不懂！！！！
a = f(df, arg1=v1)
b = g(a, v2, arg3=v3)
c = h(b, arg4=v4)
等价于
result = (df.pipe(f, arg1=v1)
.pipe(g, v2, arg3=v3)
.pipe(h, arg4=v4))

In [98]:
'''pipe的另⼀个有⽤的地⽅是提炼操作为可复⽤的函数。看⼀个从
列减去分组⽅法的例⼦：'''
g = df.groupby(['key1','key2'])
df['col1'] = df['col1'] - g.transform('mean')

'pipe的另⼀个有⽤的地⽅是提炼操作为可复⽤的函数。看⼀个从\n列减去分组⽅法的例⼦：'

In [ ]:
def group_demean(df, by, cols):
result = df.copy()
g = df.groupby(by)
for c in cols:
result[c] = df[c] - g[c].transform('mean')