第十一章：时间序列

In [43]:
# 日期和时间数据的类型及工具
from datetime import datetime
from datetime import timedelta
import pandas as pd
import numpy as np

now = datetime.now()
print(now)
print(now.year,now.month,now.day)

#timedelta表示两个datetime的时间差
print(datetime(2019,3,2)-datetime(2018,2,2))

datetime = datetime(2019,4,5) - timedelta(100)
print(datetime)

2019-05-26 10:25:25.695368
2019 5 26
393 days, 0:00:00
2018-12-26 00:00:00

In [53]:
from datetime import datetime
stamp = datetime(2011, 1, 3)
str(stamp)
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [35]:
# 转换格式
v = '2019-03-04'
datetime.strptime(v,'%Y-%m-%d')#这里的Y是大写的！

datetime.datetime(2019, 3, 4, 0, 0)

In [41]:
# 转换格式2
from dateutil.parser import parse
print(parse('2019-1-1'))
print(parse('Jan 31,1997 10:45 PM'))
# dayfirst=True日放在月前
print(parse('1/2/2019'))
print(parse('1/2/2019',dayfirst=True))

2019-01-01 00:00:00
2019-01-31 22:45:00
2019-01-02 00:00:00
2019-02-01 00:00:00

In [48]:
# to_datetiem()方法
date = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']
print(pd.to_datetime(date))

idx = pd.to_datetime(date +[None])
print(idx)
idx.isnull()
# NaT为时间戳数据的null值

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)
DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

array([False, False,  True])

In [56]:
# 时间序列基础
from datetime import datetime
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
         datetime(2011, 1, 7), datetime(2011, 1, 8),
         datetime(2011, 1, 10), datetime(2011, 1, 12)]
ts = pd.Series(np.random.randn(6),index = dates)
print(ts)
print(ts.index)#类型为：DatetimeIndex
print(ts.index.dtype)

s = ts.index[0]
s

2011-01-02   -1.246124
2011-01-05   -1.693678
2011-01-07   -0.496840
2011-01-08    0.553631
2011-01-10   -1.755780
2011-01-12   -0.406005
dtype: float64
DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)
datetime64[ns]

Timestamp('2011-01-02 00:00:00')

In [58]:
# 索引，选择，子集
# 索引
s = ts.index[2]
print(ts[s])
print(ts['2011-01-02'])

-0.4968398700732917
-1.2461244869625958

In [71]:
long = pd.Series(np.random.randn(1000),
                index = pd.date_range('20000101',periods=1000))
print(long.head())
print(long['2000-1'].head())

# 切片
# 如果给切片赋值，源数据也将改变
print('\n---------切片---------')
print(long['2000-01-01':'2000-01-04'])

print('\n----------赋值后的切片----------')
long['2000-01-01':'2000-01-04'] = 1
print(long.head(10))

2000-01-01   -0.366770
2000-01-02    0.802834
2000-01-03    1.067436
2000-01-04    0.422493
2000-01-05    0.287666
Freq: D, dtype: float64
2000-01-01   -0.366770
2000-01-02    0.802834
2000-01-03    1.067436
2000-01-04    0.422493
2000-01-05    0.287666
Freq: D, dtype: float64

---------切片---------
2000-01-01   -0.366770
2000-01-02    0.802834
2000-01-03    1.067436
2000-01-04    0.422493
Freq: D, dtype: float64

----------赋值后的切片----------
2000-01-01    1.000000
2000-01-02    1.000000
2000-01-03    1.000000
2000-01-04    1.000000
2000-01-05    0.287666
2000-01-06    0.869188
2000-01-07    0.568423
2000-01-08   -0.296702
2000-01-09   -1.103109
2000-01-10    0.428128
Freq: D, dtype: float64

In [73]:
# truncate()方法
long.truncate(after = '2000-01-08 ')
# after:输出给定日期之前的日期
# before:输出给定日期之后的日期

2000-01-01    1.000000
2000-01-02    1.000000
2000-01-03    1.000000
2000-01-04    1.000000
2000-01-05    0.287666
2000-01-06    0.869188
2000-01-07    0.568423
2000-01-08   -0.296702
Freq: D, dtype: float64

In [74]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')
long_df = pd.DataFrame(np.random.randn(100, 4),
                       index=dates,
                       columns=['Colorado', 'Texas',
                                'New York', 'Ohio'])
print(long_df.loc['5-2001'])

            Colorado     Texas  New York      Ohio
2001-05-02  0.809781 -0.314559 -0.266880 -0.385847
2001-05-09  0.507457 -0.276302 -0.150332 -0.716301
2001-05-16 -0.488448 -1.376878  0.387466  0.430799
2001-05-23  0.323934 -0.740401  0.912458  1.207624
2001-05-30  0.512137 -0.163269  0.275771 -0.957317

In [82]:
# 含有重复索引的时间序列
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000',
                          '1/2/2000', '1/1/2000'])
du = pd.Series(np.arange(5),index = dates)
print(du.index.is_unique)
print(du['1/2/2000'])
print(du['1/1/2000'])

#聚合含有重复时间戳的数据
g = du.groupby(level = 0)#见书上笔记：P312
g.mean()

False
2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32
2000-01-01    0
2000-01-01    4
dtype: int32

2000-01-01    2
2000-01-02    2
dtype: int32

In [92]:
#生成日期范围
index = pd.date_range('2012-04-01', '2012-06-01')
print(index[:10])
print(pd.date_range(start='2019-1-2',periods=10))

print('\n-------频率为每月最后一天--------\n')
print(pd.date_range(start='2019-1-2',periods=10,freq = 'M'))

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10'],
              dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2019-01-02', '2019-01-03', '2019-01-04', '2019-01-05',
               '2019-01-06', '2019-01-07', '2019-01-08', '2019-01-09',
               '2019-01-10', '2019-01-11'],
              dtype='datetime64[ns]', freq='D')

-------频率为每月最后一天--------

DatetimeIndex(['2019-01-31', '2019-02-28', '2019-03-31', '2019-04-30',
               '2019-05-31', '2019-06-30', '2019-07-31', '2019-08-31',
               '2019-09-30', '2019-10-31'],
              dtype='datetime64[ns]', freq='M')

In [95]:
#标准化时间戳（去掉时分秒）
print(pd.date_range('2010-1-1 12:33:20',periods=5))
print(pd.date_range('2010-1-1 12:33:20',periods=5,normalize=True))

DatetimeIndex(['2010-01-01 12:33:20', '2010-01-02 12:33:20',
               '2010-01-03 12:33:20', '2010-01-04 12:33:20',
               '2010-01-05 12:33:20'],
              dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2010-01-01', '2010-01-02', '2010-01-03', '2010-01-04',
               '2010-01-05'],
              dtype='datetime64[ns]', freq='D')

In [100]:
#频率和日期偏置
from pandas.tseries.offsets import Hour, Minute
hour = Hour()
print(hour)
f_hour = Hour(4)
print(f_hour)

print(pd.date_range('2000-01-01', '2000-01-03 23:59',
             freq = '4H'))

pd.date_range('2000-01-01',periods=10,
             freq = '1h30min')

<Hour>
<4 * Hours>
DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [102]:
#月中某星期（week of month）
#每月第三个星期五
r = pd.date_range('2012-1-1','2012-9-1',freq = 'WOM-3FRI')
r

DatetimeIndex(['2012-01-20', '2012-02-17', '2012-03-16', '2012-04-20',
               '2012-05-18', '2012-06-15', '2012-07-20', '2012-08-17'],
              dtype='datetime64[ns]', freq='WOM-3FRI')

In [116]:
#日期偏移
ts = pd.Series(np.random.randn(4),
               index=pd.date_range('1/1/2000', periods=4, freq='M'))
print(ts)
print('\n')
#这里是index不变，平移数据
print('-----这里是index不变，平移数据------\n')
print(ts.shift(1))#往下移两个
print('\n')

print(ts.shift(-1))

print('\n-------应用------')
#增长率
pct = ts/ts.shift(1)-1
print(pct)

#这里是index和数据一起平移
print('\n-----这里是index和数据一起平移------')
ts.shift(1,freq = 'M')

2000-01-31    2.123967
2000-02-29    0.608459
2000-03-31    0.521527
2000-04-30    0.450241
Freq: M, dtype: float64


-----这里是index不变，平移数据------

2000-01-31         NaN
2000-02-29    2.123967
2000-03-31    0.608459
2000-04-30    0.521527
Freq: M, dtype: float64


2000-01-31    0.608459
2000-02-29    0.521527
2000-03-31    0.450241
2000-04-30         NaN
Freq: M, dtype: float64

-------应用------
2000-01-31         NaN
2000-02-29   -0.713527
2000-03-31   -0.142871
2000-04-30   -0.136688
Freq: M, dtype: float64

-----这里是index和数据一起平移------

2000-02-29    2.123967
2000-03-31    0.608459
2000-04-30    0.521527
2000-05-31    0.450241
Freq: M, dtype: float64

In [128]:
from pandas.tseries.offsets import Day,MonthEnd
now = datetime(2011,11,17)
print(now+3*Day())
print(now+MonthEnd())
print(now+MonthEnd(1))
print(now+MonthEnd(2))
#MonthEnd(1)和MonthEnd()等价

print('\n-------rollforward和rollback---------')
# rollforward和rollback
o = MonthEnd()
print(o.rollforward(now))
print(o.rollback(now))

print('\n------与groupby()一起的创造性用法------')
ts = pd.Series(np.random.randn(20),
               index=pd.date_range('1/15/2000', periods=20, freq='4d'))
print(ts)
ts.groupby(MonthEnd().rollforward).mean()

2011-11-20 00:00:00
2011-11-30 00:00:00
2011-11-30 00:00:00
2011-12-31 00:00:00

-------rollforward和rollback---------
2011-11-30 00:00:00
2011-10-31 00:00:00

------与groupby()一起的创造性用法------
2000-01-15    0.371704
2000-01-19    2.563576
2000-01-23   -1.316261
2000-01-27   -0.108167
2000-01-31   -0.079626
2000-02-04    1.485499
2000-02-08    1.606968
2000-02-12    0.248502
2000-02-16    0.915796
2000-02-20   -0.506583
2000-02-24   -1.145328
2000-02-28    1.375662
2000-03-03    1.249393
2000-03-07   -2.892770
2000-03-11   -0.610018
2000-03-15    2.056888
2000-03-19    1.339373
2000-03-23    1.275053
2000-03-27   -2.009477
2000-03-31   -0.908547
Freq: 4D, dtype: float64

2000-01-31    0.286245
2000-02-29    0.568645
2000-03-31   -0.062513
dtype: float64

In [132]:
#时区处理
import pytz
print(pytz.common_timezones[-5:])
tz = pytz.timezone('America/New_York')
tz

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [ ]:
#时区跳过

In [135]:
#时间区间和区间算数
p = pd.Period(2007,freq = 'A-DEC')
p+5

Period('2012', 'A-DEC')

In [139]:
# DatetimeIndex储存的是时区的序列，可以作为任意pandas数据结构的索引
r = pd.date_range('2000-1-1','2000-6-30',freq = 'M')
print(r)
pd.Series(np.random.randn(len(r)),index = r)

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-30',
               '2000-05-31', '2000-06-30'],
              dtype='datetime64[ns]', freq='M')

2000-01-31    0.300148
2000-02-29    0.553764
2000-03-31    0.647267
2000-04-30    1.212276
2000-05-31    0.401715
2000-06-30   -0.381857
Freq: M, dtype: float64

In [145]:
states = ['Ohio', 'New York', 'Vermont', 'Florida',
          'Oregon', 'Nevada', 'California', 'Idaho']
group_key = ['east'] * 4 + ['west'] * 4
data = pd.Series(np.random.randn(8),index = states)
print(data)
# data[['Vermont', 'Nevada', 'Idaho']] = np.nan
print(data)

Ohio         -2.298530
New York      0.112088
Vermont       0.542063
Florida      -0.278480
Oregon        0.882523
Nevada        1.229607
California    1.621226
Idaho        -1.034533
dtype: float64
Ohio         -2.298530
New York      0.112088
Vermont       0.542063
Florida      -0.278480
Oregon        0.882523
Nevada        1.229607
California    1.621226
Idaho        -1.034533
dtype: float64

In [150]:
# print(data.groupby(group_key).mean())
#用分组平均值代替nan值
fill_mean = lambda x: x.mean()
print(data.groupby(group_key).apply(fill_mean))

fill_mean = lambda x: x.fillna(data)
print(data.groupby(group_key).mean())

fill_mean = lambda x: x.fillna(data)
data.groupby(group_key).apply(fill_mean)

east   -0.480715
west    0.674706
dtype: float64
east   -0.480715
west    0.674706
dtype: float64

Ohio         -2.298530
New York      0.112088
Vermont       0.542063
Florida      -0.278480
Oregon        0.882523
Nevada        1.229607
California    1.621226
Idaho        -1.034533
dtype: float64